.vote-buttons {
  width: 100%;
  height: 300px;

  background-color: #765641;
  border: 4px solid white;
  border-radius: 40px;
  letter-spacing: 5px;
  transition: all 0.2s;
  color: white;
}

.vote-buttons:hover {
  background-color: white;
  border: 4px solid #765641;
  letter-spacing: 1px;
  color: black;
}