
.button {
  width: 200px;
  height: 40px;
  background-color: #573A3A;
  color: white;
  border: 3px solid #A2947E;
  letter-spacing: 3px;
  text-transform: lowercase;
  font-style: italic;
  transition: all 0.5s;
}

.button:hover {
  background-color: white;
  color: #573A3A;
  letter-spacing: 1px;
}